POSTGRES_USER=postgres
POSTGRES_PASSWORD==postgres3
POSTGRES_DB =postgres

AIRPOSTGRES_USER=airflow
AIRPOSTGRES_PASSWORD=airflow
AIRPOSTGRES_DB =airflow
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin